<ion-app>
  <!-- <ion-icon
    class="custom-back"
    routerLink="/login"
    color="secondary"
  ></ion-icon> -->

  <div class="header-content">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSapvfl9SKUqsPryLW9lUMwCH-zq32hTAjaEQ&usqp=CAU"
      alt=""
    />
    <ion-label color="secondary">Josef</ion-label>
  </div>
  <div>
    <ion-list class="menu-items" lines="none">
      <ion-item>
        <ion-icon class="custom-phone"></ion-icon>
        <ion-label color="secondary">+91-2888835469</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon class="custom-email"></ion-icon>
        <ion-label color="secondary">contact@gmail.com</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon class="custom-loc"></ion-icon>
        <ion-label color="secondary"
          >277 Rmv 2nd stage 3rd <br />block banglore 46500</ion-label
        >
      </ion-item>
    </ion-list>
  </div>
</ion-app>
