<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col size="12">
        <div>
          <br />
          <ion-icon class="custom-back" color="secondary"></ion-icon><br />

          <ion-text color="secondary">
            <h1>Login</h1>
          </ion-text>
          <br /><br />

          <br />
          <form (ngSubmit)="login()" [formGroup]="credentials">
            <div class="input-group">
              <ion-item>
                <ion-input
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="(email.dirty || email.touched) && email.errors"
                class="errors"
              >
                <span *ngIf="email.errors?.required">Email is required</span>
                <span *ngIf="email.errors?.email">Email is invalid</span>
              </div>
              <ion-item>
                <ion-input
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                ></ion-input>
              </ion-item>
              <div
                *ngIf="(password.dirty || password.touched) && password.errors"
                class="errors"
              >
                <span *ngIf="password.errors?.required"
                  >Password is required</span
                >
                <span *ngIf="password.errors?.minlength"
                  >Password needs to be 6 characters</span
                >
              </div>
            </div> <br>

            <ion-button
              type="submit"
              expand="block"
              size="small"
              shape="round"
              [disabled]="!credentials.valid"
              (click)="login()"
              >LogIn</ion-button
            ><br>
          </form>
          <div class="ion-text-center">
            <ion-text color="danger" [routerLink]="['/forgot-password']"
              >Forgot Password?</ion-text
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>