<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <ion-label>My Orders</ion-label>
  </div>
  <div class="button">
    <ion-button expand="block" size="small" shape="round" color="none"
      >New</ion-button
    >
    <ion-button expand="block" size="small" shape="round" color="none"
      >Processing</ion-button
    >
    <ion-button expand="block" size="small" shape="round" color="none"
      >Delivered</ion-button
    >
  </div>
  <ion-card>
    <ion-card-header>
      <div class="order">
        <ion-card-subtitle>Order #1234</ion-card-subtitle>
      </div>
      <div class="date">
        <ion-card-subtitle>05-12-2020</ion-card-subtitle>
      </div>
    </ion-card-header>

    <div class="card-content">
      <ion-card-content>
        Delivery location: <br />
        Delivery Time:<br />
        Pickup location:
      </ion-card-content>
    </div>
    <div class="card-content-details">
      <ion-card-content>
        227 Rmv 2nd stage banglore<br />
        June 10, 10:00am<br />
        150 broadway,banglore
      </ion-card-content>
    </div>

    <div class="card-button">
      <ion-button expand="block" size="small" shape="round" fill="outline"
        >Accept</ion-button
      >
      <ion-button expand="block" size="small" shape="round" fill="outline"
        >Reject</ion-button
      >
      <ion-button expand="block" size="small" shape="round" fill="outline"
        >Details</ion-button
      >
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div class="order">
        <ion-card-subtitle>Order #1234</ion-card-subtitle>
      </div>
      <div class="date">
        <ion-card-subtitle>05-12-2020</ion-card-subtitle>
      </div>
    </ion-card-header>

    <div class="card-content">
      <ion-card-content>
        Delivery location: <br />
        Delivery Time:<br />
        Pickup location:
      </ion-card-content>
    </div>
    <div class="card-content-details">
      <ion-card-content>
        227 Rmv 2nd stage banglore<br />
        June 10, 10:00am<br />
        150 broadway,banglore
      </ion-card-content>
    </div>

    <div class="card-button">
      <ion-button expand="block" size="small" shape="round" fill="outline"
        >Accept</ion-button
      >
      <ion-button expand="block" size="small" shape="round" fill="outline"
        >Reject</ion-button
      >
      <ion-button expand="block" size="small" shape="round" fill="outline"
        >Details</ion-button
      >
    </div>
  </ion-card></ion-content
>
