.header-content {
  position: absolute;
  top: 40px;
  left: 15px;
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 20px;
    height: 20px;
  }

  &[class*="custom-manage-order"] {
    mask-image: url("../assets/manage-order.svg");
  }
  &[class*="custom-profile"] {
    mask-image: url("../assets/Profile.png");
  }
  &[class*="custom-logout"] {
    mask-image: url("../assets/logout.svg");
  }
}

.menu-items {
  margin-top: 200px;
  ion-icon {
    margin-right: 20px;
    color: #274b2f;
  }
  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
